<!DOCTYPE html>

<html ng-app="Prova">
    <head>
        <title>Cadastro de Livros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../CodigoJS/angular.min.js"></script>
        <script src="../CodigoJS/livrosJavaScript.js"></script>
    </head>
    <body ng-controller="livroController" ng-init="atualizar()">
        

        Titulo<input type="text" ng-model="livro.titulo"/>
        <br/>
        Ano<input type="text" ng-model="livro.ano"/>
        <br/>
        Peso<input type="text" ng-model="livro.peso"/>
        <button type="button" ng-click="salvar()">Salvar</button>
        <button type="button" ng-click="atualizar()">Atualizar</button>
        
        <table>
            
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Ano</th>
                    <th>Peso</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in livros">
                    
                    <td>{{l.id}}</td>
                    <td>{{l.titulo}}</td>
                    <td>{{l.ano}}</td>
                    <td>{{l.peso}}</td>
                    <td>
                        <a href="#" ng-click="excluir(l)">Excluir</a>
                        <a href="#" ng-click="alterar(l)">Alterar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>